/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.dropdown-item {
  list-style-type: none;
}

#dropdown-menu {
  display: none;
}

#dropbtn{
  font-weight: bold;
}

#dropbtn span > span {
  background-color: white;
  border: 5px none white;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;

}