<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <label>id: {{ hero.id }}</label>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
    <br />

    <!-- <label for="pet-name">Pet name: </label> -->
    <div class="dropdown">
      <button (click)="toggleDropdown()" id="dropbtn">
        <span *ngIf="!hero.pet">Nenhum Pet</span>
        <span *ngIf="hero.pet">
          <span>{{ hero.pet.id }}</span> {{ hero.pet.name }}
        </span>
      </button>
      <button *ngIf="hero.pet" (click)="removePet()">X</button>
      <div id="dropdown-menu" class="dropdown-content">
        <ul id="dropdown-list">
          <li class="dropdown-item" *ngFor="let pet of pets">
            <button (click)="setPet(pet); toggleDropdown();">
              <span class="badge">{{ pet.id }}</span> {{ pet.name }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<button type="button" (click)="save()">save</button>
