<h2>My Pets</h2>
<div>
  <label for="new-pet">Pet name: </label>
  <input id="new-pet" #petName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(petName.value); petName.value = ''"
  >
    Add pet
  </button>
</div>
<ul class="pets">
  <li *ngFor="let pet of pets">
    <a routerLink="/detail/pet/{{pet.id}}">
      <span class="badge">{{pet.id}}</span> {{pet.name}}
    </a>
    <button type="button" class="delete" title="delete pet"
      (click)="delete(pet)">x</button>
  </li>
</ul>

<button
    type="button"
    class="add-button"
    (click)="sortPets()"
  >
    Sort pet
  </button>